

body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    gap: 16px;
    color: #E5E7EB;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 48px;
    color: #F9FAF8;
    margin: 0;
    font-weight: 900;
}

h2 {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

h3 {
    font-size: 24px;
    font-weight: 700;
    color: #F9FAF8;
    margin: 0;
}

p,
a {
    font-size: 18px;
}

.flexbox {
    display: flex;
}

.header {
    align-items: center;
    padding: 0 100px;
    justify-content: space-between;
    background-color: #1F2937;
}

.upper {
    justify-content: space-between;
}

.hero {
    padding: 100px;
    justify-content: space-between;
    background-color: #1F2937;
}

.box {
    width: 450px;
    height: 250px;
}

.details {
    flex-direction: column;
    justify-content: space-between;
}

.details p,
.text p {
    color: #E5E7EB;
}

button {
    background-color: #3882F6;
    font-size: 18px;
    font-weight: 700;
    color: #F9FAF8;
    text-align: center;
    height: 38px;
    width: 128px;
    border: 0;
    border-radius: 10px;
}

.logo {
    font-size: 24px;
    font-weight: 900;
    color: #F9FAF8
}

.placeholder {
    background-color: hsl(0, 0%, 50%);
    color: #F9FAF8;
    justify-content: center;
    align-items: center;
}

.info {
    flex-direction: column;
    align-items: center;
    padding: 25px 0;
}

.wrapper {
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 50px;
    padding: 20px;
    margin-bottom: 40px;
}

.empty {
    height: 160px;
    width: 160px;
    border: 4px solid #3882F6;
    border-radius: 16px;
}

.illustration p {
    width: 162px;
    text-align: center;
    color: hsl(0, 0%, 50%);
}

.testimonial {
    background-color: #E5E7EB;
    padding: 70px;
}

.container {
    width: 790px;
    margin: 0 auto;
}

.quote{
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
}

.name {
    font-size: 24px;
    font-weight: 900;
    text-align: right;
}

.call-to-action {
    background-color: #3882F6;
    justify-content: space-evenly;
    align-items: center;
    margin: 100px auto;
    height: 150px;
    width: 1000px;
    border-radius: 10px;
}

.call-to-action button {
    border: 2px solid #F9FAF8;
}

.text {
    flex-direction: column;
    align-items: start;
    justify-content: space-around;
}

.text p {
    margin: 0;
}

.footer {
    background-color: #1F2937;
    text-align: center;
    color: #F9FAF8;
}